/* Estilos para la sección header */
.header {
  background-color: #2ecc71; /* Verde brillante */
  border-radius: 0 0 60px 60px; /* Esquinas más pronunciadas */
  padding: 30px 0; /* Agregado padding para mayor espacio */
}

h1 {
  color: #ffffff; /* Texto blanco */
  text-align: center;
  font-size: 3.2rem; /* Tamaño aumentado para mayor impacto */
  margin: 0; /* Eliminado el margen */
}

/* Estilos de la tarjeta del libro */
.book-card {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Transiciones más suaves */
  border: none;
  border-radius: 20px; /* Esquinas más redondeadas */
  overflow: hidden;
  background-color: #ffffff; /* Fondo blanco para tarjetas */
}

.book-card:hover {
  transform: translateY(-15px); /* Aumento del desplazamiento al pasar el mouse */
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */
}

.book-card .card-title {
  font-weight: bold;
  font-size: 1.5rem; /* Tamaño de fuente aumentado para el título */
  color: #2980b9; /* Color azul oscuro */
}

.book-card .card-text {
  font-size: 1rem; /* Aumentado el tamaño del texto */
  color: #7f8c8d; /* Texto gris claro */
}

.book-card .card-img-top {
  height: 350px; /* Aumentado el alto de la imagen */
  object-fit: cover;
}

.img-fluid {
  border-radius: 20px 20px 0 0; /* Esquinas redondeadas para la imagen */
}

/* Estilos del botón personalizado */
.btn-custom {
  background-color: #2980b9; /* Azul oscuro */
  color: white;
  padding: 12px 24px; /* Aumentado el padding para mayor área de clic */
  border-radius: 10px; /* Esquinas redondeadas */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Transición al pasar el mouse */
}

.btn-custom:hover {
  background-color: #3498db; /* Azul más claro al pasar el mouse */
  transform: scale(1.05); /* Ligeramente más grande al pasar el mouse */
}

/* Estilos del pie de página */
.footer {
  font-size: 1rem; /* Aumentado el tamaño de la fuente */
  color: #34495e; /* Texto gris oscuro */
  text-align: center; /* Centrando el texto */
  padding: 20px 0; /* Padding agregado para el pie de página */
}
