<div class="container mt-5">
  <h2 class="text-center mb-4 text-primary">Lista de libros</h2>

  <h3 class="mb-3 text-secondary">Todos los libros</h3>

  <table class="table table-bordered table-hover table-custom">
      <thead class="thead-light">
          <tr>
              <th>Autor</th>
              <th>Libro</th>
              <th>Publicación</th>
              <th>Imagen</th>
          </tr>
      </thead>
      <tbody>
          @for(book of libros; track book) {
          <tr>
              <td>{{ book.autor }}</td>
              <td>{{ book.libro }}</td>
              <td>{{ book.publicacion }}</td>
              <td><img src="{{ book.imagen }}" alt="Imagen del libro" class="img-thumbnail book-img"></td>
          </tr>
          }
      </tbody>
  </table>
</div>
